<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>thiscog</title>
    <link rel="stylesheet" type="text/css" href="css/thiscog.css">
  </head>
  <body>
    <div id="header">
        <h1>thiscog</h1>
        <a href="#">Album List</a> | <a href="#add">New Album</a>
    </div>
    <br/>
    <div id="content">
      {{{body}}}
    </div>

    <script type="text/javascript" src="js/thiscog.js"></script>
  </body>
</html>
