<div class="add_album">
    <label for="artist">Artist:</label> <input type="text" id="artist" /><br/>
    <label for="title">Album Title:</label> <input type="text" id="title" /><br/>
    <label for="year">Year:</label> <input type="text" id="year" /><br/>
    <label for="genre">Genre:</label> <input type="text" id="genre" /><br/>
    <input type="file" id="cover"><br/>
    <img src="" id="preview" draggable="true"/>
    <br/>
    <a href="#" class="save-button">Upload</a> | <a href="#"><< Back</a>
</div>
